 {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2em;
}

section {
    padding: 20px;
    text-align: center;
}

slider {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.slide {
    display: none;
    width: 50%;
    border-radius: 8px;
    align-items: center;
}

.slide.active {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .about-text {
    flex: 2;
    padding-left: 20px;
    text-align: left;
}

#about .image-container {
    flex: 1;
    text-align: left;
}

#about .image-container img {
    width: 100%;
    height: auto;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 1.5em;
}

.skills-experience-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#skills, #experience {
    flex: 1;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

#skills {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#skills h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 40px;
    color: #333;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 40px;
    padding-left: 20px;
    position: relative;
}

#skills ul li::before {
    content: '✔';
    color: #4CAF50;
    position: absolute;
    left: 0;
    top: 0;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    max-width: 70%; /* Adjust the width as needed */
    margin: auto; /* Center the container */
}

.mySlides {
    display: none;
    width: 100%; /* Ensure images take up the full width of the container */
    border-radius: 8px;
    align-items: center;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

main {
    flex: 1;
}

footer {
    background: #111;
    color: #fff;
    padding-top: 40px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .menu {
        display: none;
        flex-direction: column;
        background: #333;
    }

    .menu.active {
        display: block;
    }

    .menu-toggle {
        display: block;
        color: #fff;
        text-align: center;
    }
}
